* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html {
  font-size: 16px;
  font-family: 'Inter';
}

body {
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    user-select: none;
  }
}



img, svg {
  display: initial;
}

*::-webkit-scrollbar {
  height: 6px;
  width:6px
}

*::-webkit-scrollbar-thumb {
  background-color: #0f172a;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(29, 28, 28, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body:not(.user-is-tabbing) *:focus {
  outline: none !important;
}
